@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .button1 {
        --bg: #000;
        --hover-bg: #ff90e8;
        --hover-text: #000;
        color: #f4f80d;
        border: 1px solid var(--bg);
        border-radius: 4px;
        padding: 0.8em 2em;
        background: var(--bg);
        transition: 0.2s;
    }

    .button1:hover {
        color: var(--hover-text);
        transform: translate(-0.25rem, -0.25rem);
        background: var(--hover-bg);
        box-shadow: 0.25rem 0.25rem var(--bg);
    }

    .button1:active {
        transform: translate(0);
        box-shadow: none;
    }
    
    .navcs {
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 29px;
        box-shadow: -35px 35px 68px 0px rgba(145, 192, 255, 0.5), inset 12px -12px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    }
    
}
.bgc {
  background-color: #0d1117;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;   
  background-position: center center;
  
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bgvideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.6;
}

  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
  }
  ::-webkit-scrollbar {
    height: 1rem;
    width: 0.25rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color:black;
    border-radius: 9999px
  }
  
  ::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgb(211, 248, 0);
    border-color: rgba(255,255,255,var(--tw-border-opacity));
    border-radius: 9999px;
    border-width: 1px
  }
